@charset "UTF-8";

#ful{
	width:90%;
	margin: 0 auto;
	padding:0px;
}
#ful > li{
	list-style: none;
}
#insertmenu form >div{
	background-color: white;
}
#map {
	width: 100%;
	height: 500px;
	background-color: whitegrey;
}
#mainbbs > thead > tr > td:nth-of-type(1), td:nth-of-type(2), td:nth-of-type(4), td:nth-of-type(5) {
	text-align: center;
}
#mainbbs > tbody > tr > td:nth-of-type(1), td:nth-of-type(2), td:nth-of-type(4), td:nth-of-type(5) {
	text-align: center;
}
#signup{
	
}
.maintext{
	font-family: 'Cute Font', cursive;
	font-size: 22px;
}
#maptext{
	font-family: 'Shadows Into Light', cursive;
	font-size: 30px;
}