@charset "UTF-8";
*{
	padding:0px;
	margin:0px;
}
li{
		list-style:none;		
}
#ful{
	width:80%;
	margin: 0 auto;
	border: thin solid black;
}
/*navigation  */
#ful li{
	
}
#ful li> h1:first-child{
	text-align: center;
}
#ful > li:nth-of-type(1){

}
#div1{
	text-align: right;
}
#ful ul{
}
#ful > li:nth-of-type(2) > ul:nth-of-type(1){	
	
}
/*메뉴  */
#ful > li:nth-of-type(2) > ul:nth-of-type(1) > li{
	display: inline-block;
}
/*로그인창 div  */
#ful > li:nth-of-type(2) > ul:nth-of-type(1) > div{
	text-align: right;
}
/*로그인창 내부  */
#ful > li:nth-of-type(2) > ul:nth-of-type(1) > div ul li{
	display:block;
}
/*게시판 목록  */
#ful > li:nth-of-type(3){
}


#map {
	width: 100%;
	height: 400px;
	background-color: whitegrey;
}