<%@ tag body-content="scriptless" language="java" pageEncoding="UTF-8"
	trimDirectiveWhitespaces="true"%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<%@ attribute name="length" type="java.lang.Integer" %>
<%@ attribute name="trail"  %>
<%@ attribute name="traim"  %>



p.485