@charset "UTF-8";

body{
	background-color: #ffddff;
}

/*표의 넓이  */
.tbgray{
	width:100%;
}
/*표의 선  */
.tbgray, .tbgray th, .tbgray td{
	border:thin solid gray; border-collapse:collapse;
	
}
/*헤더 배경색  */
.tbgray thead tr{
	background-color: #ddffdd;
	border-bottom: thick solid tan;
}
/*셀 여백  */
.tbgray th, .tbgray td{
	padding:5px;
	
}
.tbgray tbody{
	background-color: #44ddff;
}
.tbgray th, .tbgray td{
	text-align:center;
}
.testtd{
	background-color: red;
}
.tbgray td:nth-of-type(2) {
	text-align: left;
}
